<p id="notice"><%= notice %></p>

<h1>Listing Materia Carreras</h1>

<table>
  <thead>
    <tr>
      <th>Materia</th>
      <th>Carrera</th>
      <th>Semestre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materia_carreras.each do |materia_carrera| %>
      <tr>
        <td><%= materia_carrera.materia %></td>
        <td><%= materia_carrera.carrera %></td>
        <td><%= materia_carrera.semestre %></td>
        <td><%= link_to 'Show', materia_carrera %></td>
        <td><%= link_to 'Edit', edit_materia_carrera_path(materia_carrera) %></td>
        <td><%= link_to 'Destroy', materia_carrera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Materia carrera', new_materia_carrera_path %>
