<p id="notice"><%= notice %></p>

<p>
  <strong>Materia:</strong>
  <%= @materia_carrera.materia %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @materia_carrera.carrera %>
</p>

<p>
  <strong>Semestre:</strong>
  <%= @materia_carrera.semestre %>
</p>

<%= link_to 'Edit', edit_materia_carrera_path(@materia_carrera) %> |
<%= link_to 'Back', materia_carreras_path %>
