<p id="notice"><%= notice %></p>

<p>
  <strong>Codca:</strong>
  <%= @carrera.codca %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @carrera.nombre %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @carrera.siglas %>
</p>

<p>
  <strong>Coddr:</strong>
  <%= @carrera.coddr %>
</p>

<%= link_to 'Edit', edit_carrera_path(@carrera) %> |
<%= link_to 'Back', carreras_path %>
