<% provide(:title, "Log in") %>
<center><h1>Iniciar Sesión</h1></center>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :usuario %>
      <%= f.email_field :usuario, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <p>
      <center><%= f.submit "Iniciar", class: "btn btn-primary" %></center>
  	  </p>
    <% end %>
  </div>
</div>
