<p id="notice"><%= notice %></p>

<p>
  <strong>Codma:</strong>
  <%= @imparte.codma %>
</p>

<p>
  <strong>Nomina:</strong>
  <%= @imparte.nomina %>
</p>

<%= link_to 'Edit', edit_imparte_path(@imparte) %> |
<%= link_to 'Back', impartes_path %>
