<p id="notice"><%= notice %></p>

<p>
  <strong>Codpr:</strong>
  <%= @parcial.codpr %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @parcial.numero %>
</p>

<p>
  <strong>Calificacion:</strong>
  <%= @parcial.calificacion %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @parcial.matricula %>
</p>

<p>
  <strong>Codma:</strong>
  <%= @parcial.codma %>
</p>

<%= link_to 'Edit', edit_parcial_path(@parcial) %> |
<%= link_to 'Back', parcials_path %>
