<p id="notice"><%= notice %></p>

<p>
  <strong>Curso:</strong>
  <%= @curso.nombre %> 
  <strong>Clave: </strong><%= @curso.codma %>
</p>

<p>
	<strong>Alumnos</strong>
	<% @alumnos.each do |a| %>
	<li><%= a.matricula %>  <%= a.nombre %></li>
	<%end%>
	<%= link_to "Agregar alumno a esta maetria", new_materia_alumno_path(@curso.id) %>
</p>

  <strong>Requerimiento:</strong>
  <%= @curso.requerimiento %>
</p>