<%= form_for(@materia_alumno) do |f| %>
  <% if @materia_alumno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@materia_alumno.errors.count, "error") %> prohibited this materia_alumno from being saved:</h2>

      <ul>
      <% @materia_alumno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :materia_id %><br>
    <% codma = "" %>
    <%= f.text_field :materia_id %>
  </div>
  <div class="field">
    <%= f.label :alumno_id %><br>
    <%= f.text_field :alumno_id %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
