<p id="notice"><%= notice %></p>

<p>
  <strong>Materia:</strong>
  <% @materia.each do |materia| %>
  <%= materia.nombre %>
  <% end %>
</p>

<p>
  <strong>Alumno:</strong>
  <% @alumno.each do |alumno| %>
  <%= alumno.nombre %>
  <% end %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @materia_alumno.fecha %>
</p>

<p>
  <strong>Parciales:</strong>
  <% @parcial.each do |pa| %>
  <li>
    Parcial <%= pa.numero %>: <%= pa.calificacion %>
  </li>
  <% end %>
</p>
