<p id="notice"><%= notice %></p>

<p>
  <strong>Matricula:</strong>
  <%= @cursar.matricula %>
</p>

<p>
  <strong>Codma:</strong>
  <%= @cursar.codma %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @cursar.fecha %>
</p>

<%= link_to 'Edit', edit_cursar_path(@cursar) %> |
<%= link_to 'Back', cursars_path %>
