<p id="notice"><%= notice %></p>

<p>
  <strong>Codma:</strong>
  <%= @materium.codma %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @materium.nombre %>
</p>

<p>
  <strong>Horas semanales:</strong>
  <%= @materium.horas_semanales %>
</p>

<p>
  <strong>Requerimiento:</strong>
  <%= @materium.requerimiento %>
</p>

<%= link_to 'Edit', edit_materium_path(@materium) %> |
<%= link_to 'Back', materia_path %>
